.edent-archive-calendar{
	color:#E8DFD9;
	background-color:#7c4848;

	font-size:0.9em;

	border:0.1em solid black;
	padding:1em;
	margin-left:auto;
	margin-right:auto;
	text-align: center;
	width:100%;

	table-layout:fixed;
}

.edent-archive-calendar td{
	color: #837A7A;
	background-color:#f3e5ab;

	border:1px solid black;
	padding:0.5em;

	word-wrap:break-word;
}