.edent-calendar-details, .edent-calendar-summary {
	display: inline;
	border: none;
	padding: 0;
	width: auto;
}

.edent-calendars {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	padding: 0;
	list-style: none;
}

.edent-calendar {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	margin: 0 .5em .5em .5em;
	border-radius: 0 !important;
	font-size: .9em;
	outline: 2px solid black;
	color: #474863;
	padding: 0;
	list-style: none;
}

.edent-calendar a {
	color: #003366;
}

.edent-calendar-year {
	outline: 1px black solid;
	border-radius: 0 !important;
	background: linear-gradient(to bottom right, #D66 0%, #A00 100%);
	color: white;
	display: block;
	margin-right: .4em;
	margin-left: .4em;
}

.edent-calendar-month {
	text-align: center;
	padding: .75em .25em;
	outline: 1px black solid;
	border-radius: 0 !important;
	background-color: var(--color-brighten);
	white-space: pre;
}

