.edent-archive-calendar{
	color:#131313;
	font-size:.9em;
	text-align: center;
	display: inline-table !important;
	min-width: 256px;
}

.edent-archive-calendar td{
	color: #474863;
	/* background-color:#f3e5ab; */

	border:1px solid black;
	padding:0.5em;

	word-wrap:break-word;
	white-space: break-spaces;
}

.edent-archive-calendar a {
	color: #003366;
}

.edent-calendars {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
}

.edent-calendar {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	margin: .5em;
	border-radius: 0 !important;
	font-size: .9em;
	outline: 2px solid black;
	color: #474863;
}

.edent-calendar a {
	color: #003366;
}

.edent-calendar-year {
	grid-column-start: 1;
	grid-column-end: 4;
	text-align: center;
	outline: 1px black solid;
	border-radius: 0 !important;
	background: linear-gradient(to bottom right, #D66 0%, #A00 100%);
	color: white;
}

.edent-calendar-month {
	text-align: center;
	padding: .75em .25em;
	outline: 1px black solid;
	border-radius: 0 !important;
	background-color: var(--color-brighten);
}

